@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  @apply h-full bg-zinc-800;
}

body {
  @apply h-full bg-zinc-800;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
.Pacifico{
  font-family: 'Pacifico', cursive;

}
.Poppins{
  font-family: 'Poppins', sans-serif;
}
.Bebas{
  font-family: 'Bebas Neue', cursive;
}
.noTrans{
  text-transform: none !important;
}
.Code{
  font-family: 'Press Start 2P', cursive;

}


.custScroll-x::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
.custScroll-x::-webkit-scrollbar {
  height: 5px;
  padding-right: 5px;
  background-color: white;
}

.custScroll-x::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff8a65;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
body::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff5722;
}