@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  @apply h-full bg-zinc-800;
}

body {
  @apply h-full bg-zinc-800;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #49acaf;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(to right, #5bb4b7, #5bb4b7 1px, #49acaf 1px, #49acaf);
}
.Pacifico{
  font-family: 'Pacifico', cursive;

}
.Poppins{
  font-family: 'Poppins', sans-serif;
}
.Bebas{
  font-family: 'Bebas Neue', cursive;
}
.noTrans{
  text-transform: none !important;
}
.Code{
  font-family: 'Press Start 2P', cursive;

}
.Main{
  background-color: #49acaf;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(to right, #5bb4b7, #5bb4b7 1px, #49acaf 1px, #49acaf);
}
.custScroll-x{
  overflow-x: scroll !important;
}
.custScroll-x::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
.custScroll-x::-webkit-scrollbar {
  height: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.342);
}

.custScroll-x::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff8965;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
body::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff5722;
}
.custScroll-y::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;  
}
.custScroll-y::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.342);
}

.custScroll-y::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff8965;
}
.awardBack {
  background-image: url('/assets/award.jpg');
  background-position: center;
  background-size: cover;
}