@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  @apply h-full bg-zinc-800;
  --brand-orange: #f27357;
  --brand-orange-monochromatic: #EE4C28;
  --brand-dark: #012e3f;
  --brand-dark-lighter: #455a64;
  --brand-pink: #F25788;
  --brand-blue: #57D6F2;
  --brand-green: #88F257;
  --brand-purple: #C157F2;
}

body {
  @apply h-full bg-zinc-800;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
.Pacifico{
  font-family: 'Pacifico', cursive;

}
.Bebas{
  font-family: 'Bebas Neue', cursive;
}
.noTrans{
  text-transform: none !important;
}